body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #22f009 30%,#ffe6a1 100%);
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="url"]{
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #27ae60;
}

/* CSS will be Used inside the JS */

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}

li{
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5px;
    text-align: center;
}

li a{
    text-decoration: none;
    color: #5c5757;
    font-size: 16px;
    font-weight: 600;
}

li a:hover{
    color: #2813e2;
}

button{
    padding: 8px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover{
    background-color: #c0392b;
}